@use '../../typography/Title/Title.module.scss' as title;
@use '../../typography/Label/Label.module.scss' as label;

.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;

  &.fullWidth {
    width: 100%;
  }

  &.filled {
    background: var(--blue-500, #004dbc);
    color: var(--white, #fff);
    // 아이콘 fill
    svg {
      fill: var(--white, #fff);
    }

    &:hover {
      background: var(--blue-600, #0040a3);
    }
    &:disabled {
      background: var(--gray-200, #e1e2e5);
      color: var(--white, #fff);
      // 아이콘 fill
      svg {
        fill: var(--white, #fff);
      }
      cursor: not-allowed;
    }
  }

  &.tonal-blue {
    background: var(--blue-50, #edeffa);
    color: var(--blue-600, #0042a0);
    // 아이콘 fill
    svg {
      fill: var(--blue-600, #0042a0);
    }

    &:hover {
      background: var(--blue-100, #e1e3f2);
    }
    &:disabled {
      background: var(--gray-300, #c3c6cd);
      color: var(--gray-50, #f8f9fa);
      // 아이콘 fill
      svg {
        fill: var(--gray-50, #f8f9fa);
      }
      cursor: not-allowed;
    }
  }

  &.tonal-gray {
    background: var(--gray-100, #eff0f2);
    color: var(--gray-600, #666d7b);
    // 아이콘 fill
    svg {
      fill: var(--gray-600, #666d7b);
    }

    &:hover {
      background: var(--gray-200, #e1e2e5);
    }
    &:disabled {
      background: var(--gray-100, #eff0f2);
      color: var(--gray-300, #c3c6cd);
      // 아이콘 fill
      svg {
        fill: var(--gray-300, #c3c6cd);
      }
      cursor: not-allowed;
    }
  }

  &.tonal-red {
    background: var(--red-50, #fdeded);
    color: var(--red-600, #da120d);
    // 아이콘 fill
    svg {
      fill: var(--red-600, #da120d);
    }

    &:hover {
      background: var(--red-100, #ffdadb);
    }
    &:disabled {
      background: var(--red-50, #fdeded);
      color: var(--red-200, #ffbfbf);
      // 아이콘 fill
      svg {
        fill: var(--red-200, #ffbfbf);
      }
      cursor: not-allowed;
    }
  }

  &.l {
    padding: 12px 32px;
    border-radius: 8px;

    @include title.title-m;

    // 아이콘 width, height
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.m {
    padding: 8px 20px;
    border-radius: 8px;

    @include label.label-m;

    // 아이콘 width, height
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.s {
    padding: 6px 12px;
    border-radius: 6px;

    @include label.label-s;

    // 아이콘 width, height
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
