@use '../../typography/Title/Title.module.scss' as title;
@use '../../typography/Label/Label.module.scss' as label;

.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;

  &.fullWidth {
    width: 100%;
  }

  &.filled {
    background: var(--blue-500, #004dbc);
    color: var(--white, #fff);

    &:hover {
      background: var(--blue-600, #0040a3);
    }
    &:disabled {
      background: var(--gray-200, #e1e2e5);
    }
  }

  &.tonal-blue {
    background: var(--blue-50, #edeffa);
    color: var(--blue-600, #0042a0);

    &:hover {
      background: var(--blue-100, #e1e3f2);
    }
    &:disabled {
      background: var(--blue-50, #edeffa);
      color: var(--blue-200, #afb9ea);
    }
  }

  &.tonal-gray {
    background: var(--gray-100, #eff0f2);
    color: var(--gray-600, #666d7b);

    &:hover {
      background: var(--gray-200, #e1e2e5);
    }
    &:disabled {
      background: var(--gray-100, #eff0f2);
      color: var(--gray-300, #c3c6cd);
    }
  }

  &.tonal-red {
    background: var(--red-50, #fdeded);
    color: var(--red-600, #da120d);

    &:hover {
      background: var(--red-100, #ffdadb);
    }
    &:disabled {
      background: var(--red-50, #fdeded);
      color: var(--red-200, #ffbfbf);
    }
  }

  &.l {
    padding: 12px 24px;
    border-radius: 8px;

    @include title.title-m;
  }

  &.m {
    padding: 8px 16px;
    border-radius: 8px;

    @include label.label-m;
  }

  &.s {
    padding: 6px 12px;
    border-radius: 6px;

    @include label.label-s;
  }
}
