@mixin headline-xl {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

@mixin headline-l {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

@mixin headline-m {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

@mixin headline-s {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.headline {
  &.xl {
    @include headline-xl;
  }

  &.l {
    @include headline-l;
  }

  &.m {
    @include headline-m;
  }

  &.s {
    @include headline-s;
  }
}
