.title {
  &.xxl {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }

  &.xl {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  &.l {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  &.m {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &.s {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  &.xs {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
}
